In [ ]:
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [3]:
engine.connect()

In [4]:
import pandas as pd

/tmp/ipykernel_19325/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [97]:
df = pd.read_csv('green_tripdata_2019-09.csv.gz', compression='gzip')

/tmp/ipykernel_19325/1601533053.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-09.csv.gz', compression='gzip')

In [104]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [105]:
pd.to_datetime(df.lpep_pickup_datetime)

0        2019-09-01 00:10:53
1        2019-09-01 00:31:22
2        2019-09-01 00:50:24
3        2019-09-01 00:27:06
4        2019-09-01 00:43:23
                 ...
449058   2019-09-30 23:13:00
449059   2019-09-30 23:26:00
449060   2019-09-30 23:15:00
449061   2019-09-30 23:19:00
449062   2019-09-30 23:35:00
Name: lpep_pickup_datetime, Length: 449063, dtype: datetime64[ns]

In [112]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [113]:
df.to_sql(name='green_taxi_data', con=engine, if_exists='replace')

63